{% extends 'base.html' %}
{% block title %}Herbal List{% endblock %}

{% block content %}

<div>
<h1>Welcome to Herbal List!</h1>

<!-- come up with info about using herbal alternatives over W medicine -->
<p>insert info about purpose of the app</p>


<div>
<!--login form -->
Login to your account here
<form>
    <label>Email:</label>
    <input type="text" name="name"><br>
    <label>Password:</label>
    <input type="text" name="password"><br>
    <input type="submit">
</form>
</div>

<p>This application was not built for commercial purposes. No copyright is claimed in content used and to the extent that material may appear to be infringed, I assert that such alleged infringement is permissible under fair use principles in U.S. copyright laws. If you believe material has been used in an unauthorized manner, please contact the programmer.</p>

</div>

{% endblock %}