{% extends 'base.html' %}

{% block title %}Herbal List% endblock %}

{% block content %}

<br>

<div class="container-fluid text-center text-primary" style="width: 80%;">
<h1>Welcome to Herbal List!</h1>

<p>insert info about purpose of the app</p>


<p>This application was not built for commercial purposes. No copyright is claimed in content used and to the extent that material may appear to be infringed, I assert that such alleged infringement is permissible under fair use principles in U.S. copyright laws. If you believe material has been used in an unauthorized manner, please contact the programmer.</p>

</div>

{% endblock %}